# Dependencias
node_modules/
.npm

# Build
dist/
build/
*.tsbuildinfo

# Variables de entorno
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
playwright-report/
test-results/
